<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Employee DashBoard." />
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="icon" href="../images/NextCorp_favicon.png" type="image/x-icon" />
    <title>NextCorp</title>
    <!-- Import nunito sans font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet" />
  </head>

  <body class="main-page">
    <aside class="sidebar">
      <header class="sidebar-header">
        <h1>NextCorp</h1>
      </header>
      <nav class="sidebar-nav">
        <ul>
          <li>
            <a href="employee_dashboard.html">
              <img class="nav-icon" src="../images/home_icon.png" alt="dashboard-icon">
              Home
            </a>
          </li>
          <li>
            <a href="history.html">
              <img class="nav-icon" src="../images/history_icon.png" alt="history-icon">
              History
            </a>
          </li>
          <li>
            <a href="employee_profile.html">
              <img class="nav-icon" src="../images/profile_icon.png" alt="profile-icon">
              Profile
            </a>
          </li>
          <li>
            <a href="sign_in.html">
              <img class="nav-icon" src="../images/logout_icon.png" alt="logout-icon">
              Logout
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="dashboard">
      <p>History</p>
      <!-- <h1 class="welcome-note">Welcome back, John Doe!</h1> -->
      <div class="dashboard-container">
        <div class="history">
          <h4 class="sub-header">
            <img class="header-icon" src="../images/history_icon.png" alt="history_icon">
            History
          </h4>
          <p>Check in at 10:00 AM</p>
          <p>Check out at 6:00 PM</p>
          <p>Duration: 2 hours</p>
        </div>
    </div>
    <!-- <footer class="footer">Copyright &copy; NextCorp 2024</footer> -->
    <script src="../scripts/main.js"></script>
  </body>
</html>
