<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Register for a NextCorp account." />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('login.static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('login.static', filename='images/NextCorp_favicon.png') }}" type="image/x-icon" />
    <title>NextCorp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet" />
    <script src="{{ url_for('login.static', filename='scripts/reset_password.js') }}" defer></script>
</head>
<body>
    <!-- Header -->
    <header class="main-header">
        <h1>NextCorp</h1>
    </header>
    <!-- Form -->
    <section class="main-content">
        <form class="sign-in-form" method="POST" action="{{ url_for('login.login_page') }}">
            <div class="form-header">
                <img class="account-icon" src="{{ url_for('login.static', filename='images/account_icon.png') }}" alt="User Account Icon">
            </div>
            <div class="form-body">
                <!-- Flash messages display -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <!-- Username input (Corp ID) -->
                <input type="text" name="corp_id" id="corp_id" placeholder="Corp ID" required>

                <!-- Password input -->
                <input type="password" name="password" placeholder="Password" required>

                <!-- Submit button -->
                <button type="submit">Sign In</button>

                <!-- Forgot password link -->
                <p>Forgot Password?</p>
                <p><button type="button" class="link-button" id="reset-password-link">Reset Password</button></p>
            </div>
        </form>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <hr>
        <p>Copyright &copy; NextCorp 2024</p>
    </footer>
</body>
</html>
