<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Reset your password for NextCorp account.">
    <link rel="stylesheet" href="{{ url_for('reset_password.static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('reset_password.static', filename='images/NextCorp_favicon.png') }}" type="image/x-icon">
    <title>NextCorp</title>
    <!-- Import nunito sans font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="main-header">
        <h1>NextCorp</h1>
    </header>
    <!-- Form -->
    <section class="main-content">
        <form class="reset-password-form" method="POST" action="{{ url_for('reset_password.reset_password_page', corp_id=corp_id) }}">
            <div class="form-header">
                <img class="account-icon" src="{{ url_for('reset_password.static', filename='images/key_icon.png') }}" alt="Key Icon">
            </div>
            <div class="form-body">
                <!-- Flash messages display -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
                <div class="buttons">
                    <button type="submit" class="submit-button">Submit</button>
                    <button type="reset" class="cancel-button">Cancel</button>
                </div>
                <p>
                    <a href="{{ url_for('login.login_page') }}">Back to Sign In</a>
                </p>
            </div>
        </form>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <hr>
        <p>Copyright &copy; NextCorp 2024</p>
    </footer>
</body>
</html>
